body {
    background: #E34416;
    background: -webkit-linear-gradient(left, #E89237, #E34416);
    background: -moz-linear-gradient(left, #E89237, #E34416);
    background: -o-linear-gradient(left, #E89237, #E34416);
    background: linear-gradient(to right, #E89237, #E34416)
}