<div class="container app" >
    <!--Titulo y alerta-->
    <div class="row">
        <div class="col-sm-8">
                <h1 class="text-center">
                    {{ titulo }}
                </h1>
                <h2 class="text-center">
                    {{ subtitulo }}
                </h2>
        </div>
        <div class="col-sm-4">
            <div class="alert alert-success alert-dismissable" *ngIf ="mensaje" >
                <a href="#" class="close" (click)="cerrarAlerta()">
                    &times;
                </a>
                {{ mensaje }}
            </div>
        </div>
    </div>
    <!--Imagen y primer formulario de agregar producto-->
    <div class="row app">
        <div class = "col-sm-4">
            <img width="300" src="./assets/bill.png"/>
        </div>
        <div class="col-sm-8">
            <h2>
                Crea tus productos:
            </h2>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="codigo" class="control-label col-sm-4">
                        <strong>Codigo del producto</strong>
                    </label>
                    <div class="col-sm-10">
                        <input type="int" class="form-control" id="codigo" name="codigo" 
                        [(ngModel)]="model.codigo" placeholder="Agregue el id del producto">
                    </div>
                </div>
                <div class="form-group">
                    <label for="nombre" class="control-label col-sm-2">
                        <strong>Producto</strong>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nombre" name="nombre" 
                        [(ngModel)]="model.nombre" placeholder="Agregue el nombre del producto">
                    </div>
                </div>
                <div class="form-group">
                        <label for="valor" class="control-label col-sm-4">
                            <strong>Valor del producto</strong>
                        </label>
                        <div class="col-sm-10">
                            <input type="int" class="form-control" id="valor" name="valor" 
                            [(ngModel)]="model.valor" placeholder="Agregue el valor del producto">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-success" (click)="agregarproducto()">
                                Guardar producto
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
    <!--Formulario con los productos, editar y borrarlos-->
    <div class="row">
        <div class="col-sm-8">
            <h2>Productos</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos; let i = index">
                        <td>{{ producto.codigo }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.valor }}</td>
                        <td>
                            <a (click)="editarproducto(i)" class="btn btn-success boton" >
                                Edit
                            </a>
                            <a (click)="eliminarproducto(i)" class="btn btn-danger boton">
                                Borrar
                            </a>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4" [hidden] = "ocultareditarproducto">
            <h2>Actualización de productos</h2>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="codigo" class="control-label col-sm-8">
                        <strong>Codigo del producto</strong>
                    </label>
                    <div class="col-sm-10">
                        <input type="int" class="form-control" id="codigo" name="codigo" 
                        [(ngModel)]="model2.codigo" placeholder="Agregue el id del producto">
                    </div>
                </div>
                <div class="form-group">
                    <label for="nombre" class="control-label col-sm-2">
                        <strong>Producto</strong>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nombre" name="nombre" 
                        [(ngModel)]="model2.nombre" placeholder="Agregue el nombre del producto">
                    </div>
                </div>
                <div class="form-group">
                        <label for="valor" class="control-label col-sm-8">
                            <strong>Valor del producto</strong>
                        </label>
                        <div class="col-sm-10">
                            <input type="int" class="form-control" id="valor" name="valor" 
                            [(ngModel)]="model2.valor" placeholder="Agregue el valor del producto">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-success" (click)="actualizarempleado()">
                                Guardar producto
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
    
</div>
